/*
 * Starter Scss with most used Mixins and functions
 * By: Abhijeet Bajracharya
 */
@import "reset";


// MEDIA QUERIES
$smallmobile: "screen and (max-width: 320px)";
$mobile: "screen and (max-width: 600px)";
$tablet: "screen and (max-width: 768px)";
$tabletlandscape: "screen and (min-width: 768px) and (max-width: 1024px)";
$mobiledevice: "screen and (max-width: 1024px)";
$desktop: "screen and (min-width: 1024px)";
$smalldesktop: "screen and (min-width: 1024px) and (max-width: 1500px)";
$largedesktop: "screen and (min-width: 1500px)";
$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)", "only screen and (min--moz-device-pixel-ratio: 1.5)", "only screen and (-o-min-device-pixel-ratio: 3/2)", "only screen and (min-device-pixel-ratio: 1.5)";

// *** Usage ***
// @media #{$smallmobile}{
//	body{background: #000}
// }

// Global Colors
$white: #fffff1;
$black: #000000;
$mediumgrey:#f1f1f1;
$red:#e45245;


// MIXINS
@mixin transition($range:all,$time:0.3s,$ease:ease-in-out,$delay:null) {
	transition: $time $range $ease $delay;
}
@mixin translator($x:0,$y:$x) {
	transform: translate($x,$y);
}
@mixin placeholder {
	&::-moz-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}
@mixin font($family:null,$size:null,$style:null,$weight:null) {
	font-family: $family;
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
}
@mixin position($position:null,$top:null,$right:null,$bottom:null,$left:null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
@mixin col($columns,$guttervalue) {
	 @media #{$desktop,$tabletlandscape}{
		float: left;
		display: block;
		margin-right: $guttervalue;
		$totalgutter: ($columns - 1) * $guttervalue;
		$gutter: $totalgutter / $columns;
		width: calc(100% / #{$columns} - #{$gutter + px});
		&:nth-child(#{$columns}n + #{$columns}) {
			margin-right: 0;
			&:after {
				content: '';
				width: 100%;
				clear: both;
				display: block;
			}
		}
	}
	@media #{$tablet} {
		width: 100%;
	}
}
// *** Usage ***
// .col-two {
//   @include col (2,20px);
// }

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  animation: #{$str};
}

// *** Usage ***
// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }
//
// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }
//

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear {clear: both;display: block;}
.clearfix {
	&:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
}
* html,* html {
	.clearfix {height: 1%;}
}
.clearfix {display: block;}

/*--------------------------------------------------------------
# Box Sizing
--------------------------------------------------------------*/
*,*:after,*:before {text-rendering: optimizeLegibility;box-sizing: border-box}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font: null; //Add fonts if needed
$font-size-base: 16px;
$normalweight: 300;
$boldweight: 700;
$headings: h1 h2 h3 h4 h5 h6;
$font-size-upper: $font-size-base * 3;
$font-size-dec: 6px;

%bold{@include font($weight:$boldweight,$family:$headings-font);}
%headingstyle {
	@extend %bold;
	line-height: 1.3;
	margin-bottom: 20px;
}

@each $heading in $headings {
	#{$heading} {
		@extend %headingstyle;
		font-size: ($font-size-upper / $font-size-base) + em;
		$font-size-upper: $font-size-upper - $font-size-dec;
	}
}
.bold,strong { @extend %bold;}
p {
	@include font ($size:1em);
	line-height: 1.375;
}
sup,sub{
	@include position($position: relative);
	@include font($size:0.6rem);
}
sup{@include position($top:-7px);}
sub{@include position($bottom:-7px);}
dfn,cite,em,i {font-style: italic;}
big {font-size: 150%;}

/*--------------------------------------------------------------
# Links
  --------------------------------------------------------------*/
a {
	@include transition();
	text-decoration: none;
	outline: 0;
}
/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/
img {max-width: 100%;vertical-align: middle;border: 0;height: auto;
	&.alignleft {margin-right: 10px;margin-bottom: 10px;}
	&.alignright {margin-left: 10px;margin-bottom: 10px;}
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.pull-left,.alignleft,.floatleft{float:left;}
.pull-right,.alignright,.floatright{float:right;}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
$columns : 2 3 4 5;

@each $column in $columns {
	.col-#{$column}{
			@include col($column, 15px);
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
fieldset {padding: 0;margin: 0;border: 0;min-width: 0;}
legend {display: block;;width: 100%;padding: 0;margin-bottom: 22px;font-size: 24px;line-height: inherit;color: #b7b8ba;border: 0;border-bottom: 1px solid #e5e5e5;
}
label {display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: bold;}

%formstyle{
	appearance:none;
	border-radius:0;
	border:1px solid $mediumgrey;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	@include transition();
	@include font($size:1.1em);
	position: relative;
	&:focus{
		border-color:$red;
	}
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="search"],textarea,select{
	@extend %formstyle;
}
.select-box{position: relative;
	&:after{
		content: '';
		@include position($position: absolute,$top:50%,$right:.5em);
		@include translator(calc(50% - 10px));
		width: 0;
		height: 0;
		z-index: 2;
		border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-top: 5px solid $black;
	}
}

// *** Usage ***
// wrap the selectbox with div.select-box

%buttonstyle{
	appearance:none;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	width: 100%;
	max-width: 200px;
	text-transform: uppercase;
	text-align: center;
	background: $mediumgrey;
	color: $black;
	padding: 10px;
	@include font($size:1em,$weight:bold);
	@include transition();
	&:hover{
		background: $red;
		color: $white;
	}
	@media #{$mobiledevice}{
		max-width: 100%;
	}
}
input[type='submit'],input[type='button'],button,input[type='reset']{
	@extend %buttonstyle;
}


body{
	@include font($size:14px,$family:$base-font)
}
