@mixin mbscSelectOverride {
  margin: 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: calc(1.5em + 0.75rem + 2px);
  .mbsc-input-wrap{
    background: none;
    height: 100%;
    .mbsc-select-ic {
      @include translator($y: -50%);
      top: 50%;
    }
  }
  input {
    height: 100%;
    border: 0;
    &:focus {
      border-color: #9acffa;
      box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
    }
  }

}

@mixin mbscToggleOverride {
  padding: 0;
  background: none;
  &:before, &:after {
    display: none;
  }
  .mbsc-switch-track {
    left: 0;
    margin-top: 2px;
  }

}
